body {
  background-color: #379;
  position: relative;
  margin: 0;
  padding: 0;

  font-family: 'Times New Roman', Times, serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

.visible-flex {
  display: flex;
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.halfOpac {
  opacity: 0.5;
}

.control-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}

#play-ground {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}

#main-grid {
  position: absolute;
}

.grid-block {
  position: absolute;
  /* background-color: white; */
}

.cell-candidates-container {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.grid-cell {
  position: absolute;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
}

.grid-cell-given {
  color: #379;
  cursor: default;
}

.focusedCell {
  background-color: gold;
}

.cell-candidate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #aaa; */
  border-radius: 50%;
  visibility: hidden;
}

.insert-panel {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-panel {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.1); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}

.numbers-panel {
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: #379;
  box-shadow: 0 0 16px 4px rgba(100, 100, 100, 0.5);
  border-radius: 3px;
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.control-button {
  background-color: rgba(47, 111, 143, 0.5);
  /* background-color: white; */
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.5;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.number-button {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  color: #379;
  border-radius: 50%;
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.candidate-button {
  font-family: 'Times New Roman', Times, serif;
  background-color: Gold;
  color: #379;
  border-radius: 50%;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-image: url('images/edit-blue.png');
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.candidate-button:active {
  background-color: rgba(47, 111, 143, 1);
  color: white;
  background-image: url('images/edit-white.png');
}

.control-button:active,
.number-button:active {
  background-color: rgba(47, 111, 143, 1);
  color: white;
  opacity: 1;
}

.alertNoSelection {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  background-color: #379;
  color: gold;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.file-info {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #379;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
